@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*,
body {
  font-family: 'DM Sans', sans-serif;
}
/* .builder-block.builder-9aed0d12397c4d4bb8f2b78d4c19e764.builder-has-component.css-96q1si {
  display: none !important;
} */
.Div_contact .react-calendar {
  max-width: 100% !important;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 0;
  }
}
.active__pagination {
  background-color: #d3d3d3;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
html.inputAdded {
  overflow: hidden;
  position: relative;
  transition: 0.5s all ease-in-out;
}
.inputAdded::after {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0000009e;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: 0.5s all ease-in-out;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
  /* font-family: 'Poppins', 'DM Sans', 'sans-serif' !important; */
}

html.open_emoji {
  overflow: hidden;
}

/* @layer base {
    * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

h1,
h2,
h3,
h4,
h5,
button {
  font-family: 'Poppins' !important;
}
p,
span {
  font-family: 'DM Sans', 'sans-serif';
}

.dropemnu_design {
  border-radius: 11px;
  padding: 10px 23px;
  /* box-shadow: 0 0 13px rgb(207 207 207 / 80%); */
  background: #ffff;
  max-height: 180px;
  overflow-y: clip;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  width: 100vw;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 9;
}
.primary_header_container .countries_dropdown_container .dropemnu_design {
  width: 80px !important;
}
.container {
  width: 100%;
  max-width: 1368px;
  margin: 0 auto;
  padding: 0px 15px;
}

.dropemnu_design::-webkit-scrollbar {
  display: none !important;
}
.dropemnu_design div:first-child {
  display: flex !important;
  gap: 20px;
}

.displayProperty {
  display: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
.slider_space .react-multi-carousel-track {
  height: 450px !important;
}
.detail_page_left_top .carousel-container {
  height: 150px !important;
}
.detail_page_left_top .react-multi-carousel-track {
  height: 110px !important;
}

/* stack card css */

.stack_container {
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  width: 90%;
  margin: auto;
}
.stack_left_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnn {
  border-radius: 130px;
  border: 1px solid var(--green, #a2d061);
  text-align: center;
  display: inline-block;
  padding: 18px 37px;
  align-items: stretch;
  font-weight: 600;
  color: #a2d061;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  white-space: nowrap;
}
.stack_card_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.stack {
  position: relative;
  width: 400px;
  height: 520px;
  text-align: left;
}
.text_left {
  text-align: left;
}
.text_left p {
  font-size: 30px;
  font-weight: 400;
}
.text_left h3 {
  font-size: 46px;
  line-height: 52px;
  margin: 10px 0 35px 0;
  letter-spacing: 1px;
}
.text_left h3 b {
  display: block;
}
img.calender_img {
  opacity: 0.7;
  cursor: pointer;
}
input:focus {
  outline: none;
  box-shadow: none;
}

.lists {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 0;
}
.list {
  list-style: none;
  position: absolute;
  width: 300px;
  height: 400px;
  transition: transform 1s, z-index 1s;
  display: inline-block;
  z-index: 0;
  transform: translateX(0);
}
.list:nth-child(2) {
  z-index: -1;
  transform: scale(0.95) translateX(-35px);
}
.list:nth-child(3) {
  z-index: -2;
  transform: scale(0.9) translateX(-70px);
}
.list:nth-child(4) {
  z-index: -3;
  transform: scale(0.85) translateX(-105px);
}
.list:nth-child(5) {
  z-index: -4;
  transform: scale(0.8) translateX(-140px);
}
.list img {
  width: 300px;
  height: 400px;
}

.text {
  padding-left: 200px;
}
.text_animation {
  /* animation: rightAnimate 2.9s linear; */
  /* animation-fill-mode: forwards; */
  position: absolute;
  width: 300px;
  height: 400px;
}
.text_animation img {
  width: 300px;
  height: 400px;
}
/* @keyframes rightAnimate {
  0% {
    z-index: 100;
    transform: translateX(0);
  }
  25% {
    z-index: -4;
    transform: translateX(50px) scale(1.05);
  }
  50% {
    z-index: -4;
    transform: translateX(-75px) scale(0.9);
  }
  75% {
    z-index: -4;
    transform: translateX(-100px) scale(0.85);
  }
  100% {
    transform: scale(0.8) translateX(-140px);
    z-index: -4;
  }
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  outline: none;
}

input[type='radio'] {
  accent-color: green;
}

.edit_button {
  padding: 0.5rem 1rem;
  border-radius: 30px;
  color: #a2d061;
  border: 1px solid #a2d061;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  padding-inline: 1.5rem;
  align-items: center;
  width: 100%;
  max-width: fit-content;
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}
.edit_button:hover {
  background: #a2d061;
  color: #fff;
}
img {
  image-rendering: auto !important;
}
.react-multi-carousel-dot--active button {
  background: #a2d061 !important;
}
.react-multi-carousel-dot button {
  border-color: #a2d061 !important;
}
.react-multiple-carousel__arrow {
  background-color: #ffffffc7 !important;
  border: 2px solid #ffffffc7 !important;
}
.react-multiple-carousel__arrow:hover {
  background: #a2d061 !important;
  border: 2px solid #a2d061 !important;
}
.react-multiple-carousel__arrow::before {
  color: #000 !important;
  font-weight: 500 !important;
  font-size: 17px !important;
}
.react-multiple-carousel__arrow:hover::before {
  color: #fff !important;
}

.react-multi-carousel-dot-list {
  display: none !important;
}
.single_product_page .colored_dot {
  width: 20px;
  height: 20px;
}
body.single_product_page .colored_dot {
  background: red;
  width: 30px !important;
  height: 30px !important;
}
@media (max-width: 1440px) {
  .single_product_page .colored_dot {
    width: 50px;
    height: 50px;
  }
}

/* responsive start */
@media (max-width: 1440px) {
  .react-multiple-carousel__arrow {
    top: 50% !important;
    transform: translateY(-50%);
  }
}
@media (max-width: 1366px) {
  .react-multiple-carousel__arrow {
    top: 50% !important;
    transform: translateY(-50%);
    top: 50% !important;
    transform: translateY(-50%);
    min-width: 30px !important;
    min-height: 30px !important;
  }
  .react-multiple-carousel__arrow::before {
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 14px !important;
  }
}
@media (min-width: 768px) {
  .filterPanel_top svg {
    display: none !important;
  }
  .single_product_page .mega_menu_open .header_menu_wrapper {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    top: 122px;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .dropemnu_design {
    width: 100%;
    z-index: 999;
    min-width: 290px !important;
    margin-top: -30px;
  }
}

button:focus-visible,
button:focus,
button:active {
  outline: 0 !important;
  box-shadow: 0 !important;
}

/* celender */
.cart_calender .react-calendar {
  width: 100% !important;
  max-width: 100% !important;
  box-shadow: 0px 0px 12px 0px #a2d06114;
  border: 1px solid #a2d06124 !important;
}
.react-calendar {
  width: 100% !important;
  max-width: 350px !important;
  margin: 0 auto !important;
  border-radius: 30px !important;
  padding: 20px !important;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif !important;
  border: 0px !important;
  min-height: 310px;
  /* max-height: 300px; */
}

.Modal_Calendar_wrapper__eCT1W button {
  border: 1px solid #0000 !important;
}
.react-calendar__month-view__days__day--weekend {
  color: #a2d061 !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--hasActive {
  background-color: #a2d061 !important;
  border-radius: 5px !important;
  color: #fff !important;
}
.react-calendar__year-view__months,
.react-calendar__decade-view__years {
  gap: 5px;
  justify-content: space-between;
}
button.react-calendar__tile.react-calendar__year-view__months__month,
button.react-calendar__tile.react-calendar__decade-view__years__year {
  flex: 0 0 32% !important;
  max-width: 33.33333% !important;
}
.react-calendar__tile--now {
  background: #a2d061 !important;
  /* color: #fff !important; */
  border-radius: 5px !important;
}
.Modal_Calendar_wrapper__eCT1W button {
  font-size: 13px !important;
  padding: 8px 10px !important;
  /* white-space: pre; */
}
abbr:where([title]) {
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
}
.react-calendar__navigation {
  gap: 7px;
  font-weight: 600;
  font-size: 20px !important;
  color: #828282 !important;
}
.react-calendar__month-view__weekdays {
  border-top: 1px solid #bdbdbd;
  padding-top: 20px;
}
.react-calendar__month-view__days button {
  background: transparent !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: 'Poppins' !important;
  padding: 10px 10px !important;
  border: 1px solid transparent !important;
  transition: 0.2s all;
  border-radius: 5px !important;
}
.react-calendar__viewContainer button:hover {
  border: 1px solid #a2d061 !important;
}
.react-calendar__viewContainer .react-calendar__tile:disabled:hover {
  border: 1px solid transparent !important;
}
.react-calendar__month-view__days button.react-calendar__tile--active {
  background: #a2d061 !important;
  color: white !important;
}
.react-calendar__navigation button:disabled {
  background-color: #a2d06133 !important;
  border-radius: 5px;
  cursor: pointer;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: #a2d061 !important;
  color: #fff;
  border-radius: 5px;
}

/* responsive */
@media (max-width: 1440px) {
  .react-calendar__month-view__days button {
    padding: 5px 5px !important;
    font-size: 13px !important;
  }
  .react-calendar__month-view__weekdays {
    padding-top: 10px;
  }
  .react-calendar__navigation {
    font-size: 12px !important;
  }
  .react-calendar__navigation button {
    min-width: 34px !important;
    background: none;
    max-height: 34px !important;
  }
}

@media (max-width: 767px) {
  .react-calendar__month-view__days button {
    font-size: 15px !important;
    padding: 9px 3px !important;
    transition: 0.2s all;
    border-radius: 4px !important;
  }
}
