.ShippingStatus_section {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
  padding-block: 1rem;
}

.ShippingStatus_section_container {
  max-width: 1400px;
  margin: 0 auto;
}

.ShippingStatus_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
}

.ShippingStatus_left_content {
  flex: 2;
}

.ShippingStatus_right_content {
  flex: 7;
}

.middle_section {
  padding: 2.5rem;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 30px;
}

.middle_section .order_completion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.middle_section .order_completion p {
  font-size: 1.3rem;
}

.middle_section .order_detail_content {
  display: flex;
  justify-content: space-between;
}

.middle_section .order_detail_content span {
  font-size: 0.9rem;
  color: #828282;
}

.right_icon {
  width: 49px;
  height: 31px;
  background-color: #a2d061;
  border-radius: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.step_form_container {
  margin-bottom: 2rem;
}

.wire_transfer_section {
  margin-top: 1rem;
  width: 100%;
}

.wire_transfer_section .container {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
}

.wire_transfer_section .container .left_content {
  flex: 14;
}

.wire_transfer_section .container .right_content {
  flex: 14;
}

.wire_transfer_section .right_content .ShippingStatus_option {
  margin-bottom: 1rem;
}

.wire_transfer_section
  .right_content
  .ShippingStatus_option
  input[type='radio'] {
  margin-right: 7px;
}

.right_content .ShippingStatus_form {
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  padding: 2rem;
}

.right_content .ShippingStatus_form .inputs,
.right_content .ShippingStatus_form .inputs label,
.right_content .ShippingStatus_form .inputs input {
  width: 100%;
}

.right_content .ShippingStatus_form .inputs .card_cvv {
  width: 50%;
}

.right_content .ShippingStatus_form .inputs {
  margin-bottom: 1rem;
}

.right_content .ShippingStatus_form .inputs label {
  font-size: 14px;
  color: #9f9f9f;
}

.right_content .ShippingStatus_form .inputs input {
  height: 40px;
  border-radius: 8px;
  padding-left: 1rem;
  border: 1px solid #f0f0f0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.right_content .ShippingStatus_form .inputs input:focus {
  outline: none;
}

.right_content .ShippingStatus_form .inputs button {
  width: 100%;
  height: 40px;
  background-color: #a2d061;
  color: #fff;
  border-radius: 8px;
}

.address_section {
  display: flex;
  justify-content: space-between;
}

.address_section .address_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}

.address_container span {
  color: #707070;
  font-size: 0.89rem;
}

.user_content {
  width: 100%;
  margin-top: 2rem;
}

.user_content table {
  width: 100%;
}

.user_content table tr:first-child {
  background-color: #f7f7f7;
}

.user_content table th {
  padding: 2rem;
  text-align: left;
  border-top: 2px solid #cacaca;
}

.user_content table td {
  text-align: left;
  padding: 3rem 2rem;
  border-bottom: 1px solid #cacaca;
}

.total_amount_section {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.total_amount_section .content {
  width: 20%;
  display: flex;
  text-align: right;
  justify-content: space-between;
  gap: 1rem;
}
