/* Style the progress bar */

.active_user_card {
  width: 25%;
}

.user_text {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.user_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 7px;
}
.users_heading {
  font-size: 0.9rem;
}

.total {
  color: #344767;
  font-size: 1.3rem;
  margin-top: 0.7rem;
  margin-bottom: 0;
}

.progress {
  width: 100%;
  height: 7px; /* Adjust height as needed */
  appearance: none;
}

/* Style the progress bar track */
.progress::-webkit-progress-bar {
  background-color: #f0f0f0; /* Set the background color of the progress bar */
}

/* Style the progress bar fill */
.progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: #344767; /* Set the fill color of the progress bar */
}
