.container {
  width: 100%;
  max-width: 1368px;
  margin: 0 auto;
  padding: 0px 15px;
  position: relative;
}
.category_container{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 15px;
  position: relative;
}
@media (max-width:1920px){
  .category_container {
    width: 100%;
    max-width: 98%;
    padding: 0px;
  }
}
@media screen and (max-width:1400px) {
  /* .container {
    max-width: 1200px;
  } */
}
/* @media screen and (max-width:1300px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width:1030px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width:991px) {
  .container {
    max-width: 800px;
  }
} */
@media screen and (max-width:991px) {
  .container {
    max-width: 100%;
    
  }
}
@media (max-width:767px){
  .category_container {
    width: 100%;
    max-width: 95%;
    padding: 0px;
  }
}